.g-button {
	@extend .heading;
	color: #333;
	min-width: 70px;
	border-radius: 9%;
	padding: 3px;
	border: 1px solid $gray;
	display: inline-block !important;
	box-sizing: content-box;
	background: linear-gradient(180deg, white 70%, #eee 30%);
	margin: 0;
}
.g-button:hover {
	background: linear-gradient(180deg, #dae7f6 70%, #b7ceed 30%);
	cursor: pointer;
	border-color: $borderColor;
}
.g-button[disabled] {
	background: #eee;
	color: $gray;
	border-color: $gray;
	cursor: default;
}
