.g-input {
	height: 24px;
	display: inline-block;
	padding-top: 2px;
	padding-bottom: 2px;
}
.g-input-field {
	@extend .content;
	padding: 2px;
	height: 18px;
	width: 190px;
	border: 1px solid $borderColor;
	background: linear-gradient(180deg, whitesmoke 5%, white 95%);
}
.g-input-field-label {
	@extend .bold;
	@extend .content;
	min-width: 100px;
	display: inline-block;
	line-height: 22px;
}
.g-valid {
	width: 16px;
	height: 16px;
	line-height: 16px;
	display: inline-block;
}
