@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

.ember-modal-dialog {
  border-radius: 4px;
  box-shadow: 0 0 6px #222;
  background: $lightBlue !important;
  max-width: 90vw !important;
}
.ember-modal-overlay.translucent {
  background-color: rgba(128, 128, 128, 0.2) !important;
}

.g-modal-container {
  background: #a9bfd3;
}

.g-modal-title {
  @extend .bold;
  color: $darkBlue;
  margin-bottom: 10px;
}

.g-modal-body {
  background: white;
  padding: 5px;
  border:1px solid $borderColor;
  border-radius:2px;
  overflow: auto;
  max-width: 90vw !important;
}

.g-modal-footer {
  @extend .bold;
  margin-top: 10px;
}
