.g-paginator {
  $height: 30px;
  line-height: $height;
  height: $height;
  vertical-align: middle;
}
.vertical-center {
  vertical-align: middle;
  margin: 0 4px 0 4px;
}
.left-arrow {
  $thickness: 8px;
	width: 0;
	height: 0;
	border-top: $thickness solid transparent;
	border-bottom: $thickness solid transparent;
	border-right: $thickness solid $darkBlue;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.right-arrow {
  $thickness: 8px;
	width: 0;
	height: 0;
	border-top: $thickness solid transparent;
	border-bottom: $thickness solid transparent;
	border-left: $thickness solid $darkBlue;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.left-arrow[disabled=true] {
  border-right-color: silver;
  cursor: default;
}

.right-arrow[disabled=true] {
  border-left-color: silver;
  cursor: default;
}
