.selectize-dropdown, .selectize-input, .selectize-input input {
  @extend .content;
  line-height: 18px;
  width: 190px;
  width: 15.7em;
}
.selectize-input {
  padding: 2px;
  padding-left: 4px;
  display: inline-block;
  width: 196px;
}
.selectize-input > input {
  display: inline-block;
}
.selectize-control {
  display: inline-block;
  height: 26px;
  vertical-align: middle;
}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
	border: 1px solid $borderColor;
}
