/** Tab Panels **/
.g-tab {
	$radius: 5px;
	$padding: 4px;
	@extend .heading;

	text-decoration: none;
	text-align: center;
	vertical-align: bottom;
	border: 1px solid $borderColor;
	border-bottom: 0;
	padding-left: $padding;
	padding-right: $padding;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
	display: inline-block;
	min-width: 5rem;
	height: 25px;
	line-height: 27px;
	position: relative;
	bottom: 0;

	background: linear-gradient(180deg, #d0def0, #b7ceed);
	cursor: pointer;
}
.g-tab:hover {
	color: $darkBlue;
}
.g-tab.active {
	@extend .bold;
	@extend .heading;
	box-shadow: 1px 1px $borderColor;
	background: linear-gradient(180deg, white, #d0def0);
}
