{{!-- BEGIN-SNIPPET panel-toolbar --}}
{{#g-panel title="Toolbar"}}
  {{#g-toolbar}}
    {{g-button text="Button"}}
    {{g-input label="Input" model=model path="name" placeholder="Search..."}}
    {{g-selectize label="Robots" content=model optionValuePath="content.id" optionLabelPath="content.name"}}
  {{/g-toolbar}}
  {{#g-panel-body}}
    <p>Some text here</p>
  {{/g-panel-body}}
{{/g-panel}}
{{!-- END-SNIPPET --}}
