.g-button {
	color: #333;
	font: 11px arial,tahoma,verdana,helvetica;
	min-width: 70px;
	border-radius: 9%;
	padding: 3px;
	border: 1px solid grey;
	display: inline-block !important;
	box-sizing: content-box;
	background: linear-gradient(180deg, white 70%, #eee 30%);
	margin: 0;
}
.g-button:hover {
	background: linear-gradient(180deg, #dae7f6 70%, #b7ceed 30%);
	cursor: pointer;
	border-color: #a9bfd3;
}


.g-panel {
	margin-bottom: 5px;
	box-shadow: 1px 1px 3px silver;
}
.g-panel-heading {
	height: 25px;
	font-size: 11px;
	font-family: arial,tahoma,verdana,helvetica;
	font-weight: bold;
	color: #15428b;
	border: 1px solid #a9bfd3;
	line-height: 25px;
	padding-left: 5px;
	vertical-align: middle;
	background: linear-gradient(180deg, #dae7f6 50%, #b7ceed 50%);
}
.g-toolbar {
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #d0def0;
	border-left: 1px solid #a9bfd3;
	border-right: 1px solid #a9bfd3;
	border-bottom: 1px solid #a9bfd3;
	font-family: arial,tahoma,verdana,helvetica;
	font-size: 12px;
}
.g-panel-body {
	border-left: 1px solid #a9bfd3;
	border-right: 1px solid #a9bfd3;
	border-bottom: 1px solid #a9bfd3;
	padding: 5px;
	font-size: 12px;
	font-family: arial,tahoma,verdana,helvetica;
	overflow: auto;
}


.g-input-field-label {
	min-width: 100px;
	display: inline-block;
	font-weight: bold;
}
.g-input-field {
	margin-bottom: 4px;
	height: 18px;
	width: 190px;
	font-size: 12px;
	border: 1px solid #a9bfd3;
	background: linear-gradient(180deg, whitesmoke 5%, white 95%);
}


.g-grid {
	width: 100%;
	box-shadow: 1px 1px 3px silver;
}
.g-grid > * {
	font-family: arial,tahoma,verdana,helvetica;
	font-size: 12px;
}
.g-grid tr {
	line-height: 12px;
}

.g-grid tr:hover {
	background: #eee;
}

.g-grid tr th {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 4px;
	text-align: left;
	background: linear-gradient(180deg, whitesmoke 70%, #eee 30%);
}
.g-grid td {
	padding: 4px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	line-height: 14px;
}
