.tooltip {
	z-index: 1;
	position: absolute;
  font-size: 12px;
}

.g-invalid {
	border: 1px solid #c30;
	background: #c30;
	color: white;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	display: inline-block;
	border-radius: 50%;
}
