.g-input-field-label {
	min-width: 100px;
	display: inline-block;
	font-weight: bold;
}
.g-input-field {
	margin-bottom: 4px;
	height: 18px;
	width: 190px;
	font-size: 12px;
	border: 1px solid #a9bfd3;
	background: linear-gradient(180deg, whitesmoke 5%, white 95%);
}
