.selectize-dropdown, .selectize-input, .selectize-input input {
  font-size: 12px;
	font-family: arial,tahoma,verdana,helvetica;
  line-height: 18px;
  width: 190px;
}
.selectize-input {
  padding: 2px;
  padding-left: 4px;
  display: inline-block;
  width: 196px;
}
.selectize-input > input {
  display: inline-block;;
}
.selectize-control {
  display: inline-block;
  height: 18px;
  vertical-align: top;
}
.selectize-control.single .selectize-input, .selectize-dropdown.single {
	border: 1px solid #a9bfd3;
}
.g-selectize-invalid > .selectize-control.single .selectize-input {
	border: 1px solid red;
}
