{{heading}}
{{#if isSorted}}
  {{#if isSortAsc}}
    <div class="up-arrow sort-indicator"></div>
  {{else}}
    <div class="down-arrow sort-indicator"></div>
  {{/if}}
{{else}}
  <span class="sort-indicator">&nbsp;</span>
{{/if}}
