

<thead>
  <tr>
    {{#each children as |column|}}
      <th>{{column.heading}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each content as |row|}}
    <tr>
      {{yield row}}
    </tr>
    {{else}}
    <tr>
      <td>No records found.</td>
    </tr>
  {{/each}}
</tbody>
