{{heading}}
{{#if isSorted}}
  <span class="sort-indicator">
    {{#if isSortAsc}}&bigtriangleup;{{else}}&bigtriangledown;{{/if}}
  </span>
{{else}}
  <span class="sort-indicator">&nbsp;</span>
{{/if}}
