

<thead>
  <tr>
    {{#each children as |column|}}
      <th>{{column.heading}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each content as |row index|}}
    {{#g-grid-row rowIndex=index}}
      {{yield row index}}
    {{/g-grid-row}}
    {{else}}
    <tr>
      <td>No records found.</td>
    </tr>
  {{/each}}
</tbody>
