<thead>
  <tr>
    {{#each children as |column|}}
      {{g-grid-heading heading=column.heading sortPath=column.sortPath sortField=sortField}}
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each content as |row index|}}
    {{#g-grid-row rowIndex=index}}
      {{yield row index}}
    {{/g-grid-row}}
    {{else}}
    <tr>
      <td>No records found.</td>
    </tr>
  {{/each}}
</tbody>
