{{#modal-dialog targetAttachment="center" translucentOverlay=true
   container-class="g-modal-container" close="closeModal"}}
     <div class="g-modal-title">{{title}}</div>
    {{yield}}
{{/modal-dialog}}
