<label for={{id}} class="g-input-field-label">{{label}}</label>
{{ember-selectize id=id
  placeholder=placeholder
  content=content
  optionValuePath=optionValuePath
  optionLabelPath=optionLabelPath
  select-item="select-item"
  selection=selection
  value=value
  disabled=disabled
}}
