<label class="g-input-field-label">{{label}}</label>
{{ember-selectize placeholder=placeholder
  content=content optionValuePath=optionValuePath optionLabelPath=optionLabelPath select-item="select-item"
}}
