<table cellspacing="0" class="x-toolbar-ct" role="presentation">
  <tbody>
    <tr>
      {{!-- left --}}
      <td class="x-toolbar-left" align="left">
        <table cellspacing="0" role="presentation">
          <tbody>
            <tr class="x-toolbar-left-row" role="presentation">
              <td class="x-toolbar-cell" role="presentation">
                  {{yield}}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
