<table cellspacing="0" role="presentation" id="x-auto-2599" class="x-btn x-component x-btn-text x-unselectable "
  unselectable="on" style="margin-right: 0px;">
  <tbody class="x-btn-small x-btn-icon-small-left">
    <tr>
      <td class="x-btn-tl"><i>&nbsp;</i></td>
      <td class="x-btn-tc"></td>
      <td class="x-btn-tr"><i>&nbsp;</i></td>
    </tr>
    <tr>
      <td class="x-btn-ml"><i>&nbsp;</i></td>
      <td class="x-btn-mc">
        <em class="" unselectable="on">
          <button class="x-btn-text " type="button" style="position: relative; width: 75px;" tabindex="0" aria-disabled="false">
            {{text}}
            {{!-- <img onload="this.__gwtLastUnhandledEvent=&quot;load&quot;;"
                 src="https://platform-uat.vertek.com/quoting/com.vertek.corporate.quoting.ui.Quoting/clear.cache.gif"
                 style="width: 16px; height: 16px; position: absolute; left: -0.125px; top: 0px; background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACZklEQVR42q2T60+ScRTH/Vugtl7EukhmLbbEXOXmxnqWeZ2WoCEhaDrFeB7EQAS8bKSPl9SxFcyAxpKL4IWlzsyJWkpLfWS6FqzW1lYw336DNjG39JXf7bz8fH6/c3ZOWtpJxzDdwNZPyEmNV8q0uKpjyjdVscbXFUydvZyUjpaxj4cn6widrzb6cqUHS9E5hH6sYuX7InxhJ1R+KcSWgqjITBDHwPL45LYTu7+3Mf3VCwvzHOZNGs4dC+a/vYVhVoGyEUG8ZDDvsEQ3KWcl4Mj4lg3bvzYwvGHCs+V2dAU1oENG9IYM6Fp7ivFdJ0i/BPkDtyJ36GxWStDuk1F9C1p8/rmWeLEXPesG6N+rsB/tsgLKOQmoBRk8Ow7cG8lBnimLSgk0binjDTsSX7WiY0mNtkUlFNM1KUG1oxiNU+V4PFGCgY9GmOZbcLOLx6QE1Jh4L/DFi75PxgTcjKMi9xWCmhHDFhoG35i5lxI0O0V7rvArGFZJqIMNxwrIQBXsoSHw2rkHgnrHfaY/aAC9rkfzOwnkMxUQ2e8eApNV5y9GX1CLzsATXNGeP2hBZiulHtoJuMM2KGaEqA2U/e35X0GNpwD14yVwb1mR3Z2JS62cgyGKLUWsyhf5EdJfjTFmNDWwJCjzJCsJF8O1acEjWxG4rZwIR3WadWgXHpgFROlQXrzJLYQnIekP6kBOVUI5IUT/UhvcCVhiKwBXfTZ+gTrz/20sHMwlCDonKhjIQvcsCesHGtZVGvpAE/idGUk4eiS8H4GJz77dzSNvdFxlruszYtd0F2OXNeeYdDWHTFeeYp/49f4BuZPQBvduJy4AAAAASUVORK5CYII=&quot;) 0px 0px no-repeat;"
                 border="0" role="presentation" class=" x-btn-image"> --}}
          </button>
        </em>
      </td>
      <td class="x-btn-mr">
        <i>&nbsp;</i>
      </td>
    </tr>
    <tr>
      <td class="x-btn-bl"><i>&nbsp;</i></td>
      <td class="x-btn-bc"></td>
      <td class="x-btn-br"><i>&nbsp;</i></td>
    </tr>
  </tbody>
</table>
