<div role="presentation" class="x-form-item">
    <label for="x-auto-457-input" style="width:180px;" class="x-form-item-label">
        {{label}}
    </label>
    <div role="presentation" class="x-form-element" style="padding-left:185px">
        <div role="presentation" class=" x-form-field-wrap x-component" id="x-auto-457" style="width: 200px;">
            {{input value=value type=type class="x-form-field x-form-text" style="width: 192px;"}}
        </div>
    </div>
    <div class="x-form-clear-left" role="presentation"></div>
</div>
