{{#g-panel title="Buttons"}}
  {{#g-panel-body}}

    <p>Buttons are used everywhere!</p>

    {{g-button text="My Button" action="alertme" actionArg="NICE"}}
    {{g-button text="Disabled Button" disabled=true}}
    <hr/>

    {{#g-panel title="Example"}}
      {{#g-panel-body}}
        {{code-snippet name="buttons.hbs"}}
      {{/g-panel-body}}
    {{/g-panel}}

  {{/g-panel-body}}
{{/g-panel}}
