{{#g-panel title="Buttons"}}
  {{#g-panel-body}}

    <p>Buttons are used everywhere!</p>

    {{g-button text="My Button" action="alertme" actionArg="NICE"}}
    <hr/>

    {{#g-panel title="Example"}}
      {{#g-panel-body}}
        <pre>&#123;&#123;g-button text="My Button" action="alertme" actionArg="NICE"&#125;&#125;</pre>
      {{/g-panel-body}}
    {{/g-panel}}

  {{/g-panel-body}}
{{/g-panel}}
