<h2>Content Panel</h2>
<br/>

{{#content-panel title="Camoflauged Ember Component!"}}
<pre>  &#123;&#123;#content-panel title="Camoflauged Ember Component!"&#125;&#125;
    This is an Ember component disguised as a GXT Content Panel...
  &#123;&#123;/content-panel&#125;&#125;</pre>
{{/content-panel}}
