{{#gxt-panel title="Combo Boxes"}}
  <div class="padded-5">
    Buttons are used everywhere!
    <hr/>

    {{gxt-button text="My Button" action="alertme" actionArg="Thanks!"}}
    <hr/>

    {{#gxt-panel title="Example"}}
      <p class="padded-5">
        <pre>&#123;&#123;gxt-button text="My Button" action="alertme" actionArg="Thanks!"&#125;&#125;</pre>
      </p>
    {{/gxt-panel}}
  </div>

{{/gxt-panel}}
