{{#gxt-panel title="Content Panels"}}
  <p class="padded-5">
    Content Panels can wrap most anything.
    <hr/>

<pre>  &#123;&#123;#content-panel title="My Content Panel"&#125;&#125;
    This is a Content panel.
  &#123;&#123;/content-panel&#125;&#125;</pre>

  </p>
{{/gxt-panel}}
