<p>
  ember-cli-vtkui is an addon project focused on providing components and styling to support a team's desire to
  incrementally replace legacy GWT/GXT UI code with EmberJS applications.  The end goal may be to target Ember-Engines
  as a full GWT/GXT replacement.
</p>
