{{#g-panel title="About"}}
  {{#g-panel-body}}
      <p>
          Ember-Cli-Vtkui is an <a href="http://emberjs.com/" target="_blank">EmberJS</a> Addon project
        focused on providing components and styling to support a team's desire to incrementally replace legacy
        <a href="http://www.gwtproject.org/" target="_blank">GWT</a> /
        <a href="https://www.sencha.com/products/gxt/" target="_blank">GXT</a>
        UI code with EmberJS applications.
      </p>
      <p>
        The end goal may be to target <a href="https://github.com/dgeb/ember-engines">Ember-Engines</a>
        as a full GWT/GXT replacement.
      </p>
  {{/g-panel-body}}
{{/g-panel}}

{{#g-panel title="In a Nutshell"}}
  {{#g-panel-body}}
    This Addon provides the following:
    <ul>
      <li>Composable components styled to fit in with existing GXT 2.2.5 components</li>
      <li>
        Blueprints that configure the Ember application to be embedded in a GWT application
         <i>(more on this in the next section)</i>.
       </li>
      <li>
        Some additional addons to address common needs across our embedded Ember apps:
        <ul>
          <li>
            <a href="https://github.com/offirgolan/ember-cp-validations" target="_blank">
              ember-cp-validations
            </a>
          </li>
          <li>
            <a href="https://github.com/sir-dunxalot/ember-tooltips" target="_blank">
              ember-tooltips
            </a>
          </li>
          <li>
            <a href="https://github.com/miguelcobain/ember-cli-selectize" target="_blank">
              ember-cli-selectize
            </a>
          </li>
          <li>
            <a href="https://github.com/ember-animation/liquid-fire" target="_blank">
              liquid-fire
            </a>
          </li>
        </ul>
      </li>
    </ul>
  {{/g-panel-body}}
{{/g-panel}}

{{#g-panel title="Embeddable Ember Apps"}}
  {{#g-panel-body}}
    The Addon provides Blueprints to make the initial configuration for embedding apps a bit easier.
    The development environment is left untouched so that the development process remains the same as any other Ember
    application.  The production builds are configured in the following manner:
    <ul>
      <li>config/environment.js - locationType: 'none', autoboot: false.</li>
      <li>
        app/app.js - gets the autoboot settings from config/environment.js, sets an appOptions object that can be
        populated with any information the Ember App may need to run. For example, order ids can be passed from the main
        application in this object and an application initializer can set up a service to retain this information for
        the lifetime of the App.
      </li>
    </ul>
    A couple of additional settings that aren't provided via blueprints live in the ember-cli-build.js file:
    <ul>
      <li>
        {{code-snippet name="ember-cli-build.js"}}
      </li>
    </ul>
  {{/g-panel-body}}
{{/g-panel}}

{{#g-panel title="GWT Setup"}}
  {{#g-panel-body}}
    <ul>
      <li>todo</li>
    </ul>
  {{/g-panel-body}}
{{/g-panel}}

{{#g-panel title="Caveats"}}
  {{#g-panel-body}}
    <ul>
      <li>todo</li>
    </ul>
  {{/g-panel-body}}
{{/g-panel}}
