{{#gxt-panel title="Working Example"}}
  {{#gxt-toolbar}}
    {{gxt-button text="A Button" action="doit"}}
  {{/gxt-toolbar}}
  <p class="padded-5">
    Now for the super-grid-hack!
  </p>
{{/gxt-panel}}
