{{#g-panel title="Pagination"}}
  {{#g-panel-body}}

    {{g-paginator offset=offset limit=25 total=36}}

    <hr/>

    {{#g-panel title="Example"}}
      {{#g-panel-body}}
        {{code-snippet name="paginator.hbs"}}
        <p>
          Note: For this to work correctly, make sure you are:
          <ul>
            <li>calling 'this.store.query'. The 'meta' object will not be set when using 'this.store.findAll'.</li>
            <li>
              Have queryParams set on your route:
              {{code-snippet name="query-params.js"}}
            </li>
          </ul>
        </p>
      {{/g-panel-body}}
    {{/g-panel}}

  {{/g-panel-body}}
{{/g-panel}}
