<h1>Viewport</h1>
<br/>

{{#g-viewport}}
  {{#content-panel title="top"}}TOP{{/content-panel}}
  {{#content-panel title="west"}}WEST{{/content-panel}}
  {{#content-panel title="center"}}CENTER{{/content-panel}}
{{/g-viewport}}
